.cart_box {
  box-shadow: inset 0px 0px 5px 0.1px rgb(223, 221, 221);
  padding: 10px 0px;
  margin: 20px 50px;
  border-radius: 3px;

  background-color: rgb(255, 255, 255);
}
.cart_box-heading-left {
  font-size: 18px !;
  line-height: 56px;
  padding: 0 24px;
  font-weight: 400;
  font-family: sans-serif;
}
.cart_box-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-height: 366px;
  margin: 10px 0px;
}
.cart_box-col {
  text-align: center;
  line-height: 22px;
}

.cart_box-col img {
  width: 222px;
  height: 162px;
}
.cart_box-col h3 {
  font-size: 18px;
  margin-top: 24px;
  font-weight: 300;
}
.cart_box-col h5 {
  font-weight: 300;
}
#shopNow {
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: none;
  height: 40px;
}
#shopNow span {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
  padding: 12px 72px;
}
