<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/products/finish.css" />
    <title>Order Placed</title>
  </head>

  <body>
    <div id="parentt">
      <div>
        <img
          class="img"
          src="https://entrackr.com/wp-content/uploads/2020/10/flipkart.jpg.webp"
        />
      </div>
      <div id="container2">
        <img
          class="img1"
          src="https://image.flaticon.com/icons/png/512/3500/3500833.png"
        />
        <p>Order Placed Sucessfully</p>
      </div>
    </div>
  </body>
</html>
<script>
  let parent = document.getElementById("parentt");
  parent.addEventListener("click", hp);

  function hp() {
    window.location.href = "index";
  }
</script>
